.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(30rem, 2fr) minmax(30rem, 1fr);
}

.header {
  width: 100%;
  background: linear-gradient(to right,#0e2a3b 0,#34306b 100%);
  padding: 5rem 2.4rem;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  & h1 {
    margin-bottom: 1.6rem;
  }

  & h3 {
    max-width: 48rem;
  }
}

